# dependencies
**/node_modules
.pnp
.pnp.js
.pnpm-store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# testing
**/coverage

# next.js
web/.next
web/out

# nest build
api/dist

# misc
.DS_Store
*.pem

# local env files
**/.env
**/.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
**/next-env.d.ts

